main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  /*
  =============== 
  Slider
  ===============
  */
  
  .slider-container {
    border: 5px solid black;
    width: 50vw;
    margin: 0 auto;
    height: 50vh;
    max-width: 80rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 4rem;
  }
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
    background-color: blanchedalmond;
  }
  .slide-img {
    height: 100%;
    object-fit: cover;
  }
  .slide h1 {
    font-size: 5rem;
    background-image: linear-gradient(blue,green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: blink 2s ease-in-out infinite;
  }
  @keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
  }
  .text{
    background-image: linear-gradient(skyblue,lightseagreen);
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
  }
  .prevBtn,
  .nextBtn {
    /* background: transparent; */
    /* border-color: transparent; */
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: black;
  }
  .prevBtn:hover,
  .nextBtn:hover {
    color: gray;
  }

  
